@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@1,100;1,200;1,300&family=Roboto:wght@500&display=swap');
:root{
  --color-praimary: #00aedc;
  --color-seconday: #ccecff;
  --color-success: #40eb86;
  --color-danger: #f54141;
  --color-dark: #1a273b;
  --color-white:#fff;
  --color-light:#f0eef6;
  --color-black: #151b27;
  --color-gray: #98a4b3;

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.5rem 2rem;
  --search-padding: 0.5rem 1rem;
  --card-padding:1rem;

  --sticky-top-left:5.5rem;
  --sticky-top-right: -20rem;

  --transition: all 0.3s ease-in-out;
} 
*, *::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: 0;
  border:none;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
  overflow-x: hidden;
 }
 .container{
  width: 80%;
  margin: 0 auto;
 }
 .profile-photo{
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  cursor:pointer;
 }
 img{
  display: block;
  width: 100%;
 }
 .btn{
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  transition:var(--transition);
  font-size: 0.9rem;
  font-family: inherit;
 }
 .btn:hover{
  opacity: 0.8;
 }
 .primary-btn{
  background-color: var(--color-praimary);
  color: var(--color-white);
  cursor: pointer;
 }
 .text-muted{
  color: var(--color-gray);
 }
/* Main css */
main{
  top:5.5rem;
  position: relative;
}
main .container{
  display: grid;
  grid-template-columns: 20vw auto 20vw;
  gap:2rem;
  position: relative;
}

 /*====== Navbar css===== */
 nav{
  width:100%;
  background-color: var(--color-white);
  position: fixed;
  padding: 0.7rem 0;
  top:0;
  left:0;
  z-index: 99;
 }
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.just-chill{
  font-family: 'Amita', cursive;
}
.search-bar{
  background-color: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--border-radius);
}
.search-bar input[type="search"] {
  background-color: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
  font-family: inherit;
  margin-right: 0.7rem;
}
.search-bar input::placeholder{
  color:var(--color-gray)
}
nav .create{
  display: flex;
  align-items: center;
  gap:1.5rem;
}
nav .create .btn{
  margin-right: 1.5rem;
}
main .container .left{
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}
main .container .left .profile-user{
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  display: flex;
  align-items: center;
  width: 100% ;
  gap:1rem;
}
.sidebar{
  margin-top: 1rem;
  background-color: var(--color-white);;
  border-radius: var(--card-border-radius);
}
.sidebar .menu-item{
  display: flex;
  align-items: center;
  gap:1rem;
  height:4rem;
  transition: var(--transition);
  position: relative;
}
.sidebar .menu-item:hover {
  background-color: var(--color-light);
}
.sidebar .menu-item i{
  font-size: 1.4rem;
  margin-left:1.4rem;
  position: relative;
  color: var(--color-gray);
}
.sidebar .menu-item i .notification-count{
  font-size: 1rem;
  width: 30px;
  background-color: var(--color-danger);
  color: var(--color-white);
  border-radius: var(--border-radius);
  position: absolute;
  top:-0.2rem;
  right:-0.3rem;
}
.sidebar .menu-item i .notification-count{
  font-size: 1rem;
  width: fit-content;
  background-color: var(--color-danger);
  color: var(--color-white);
  border-radius: var(--border-radius);
  position: absolute;
  top:-0.2rem;
  right:-0.3rem;
}
.left .btn{
  width: 100%;
  margin-top: 1rem;
  padding:1rem 0;
  text-align: center;
}